/* Provide sufficient contrast against white background */

/*basic highlight color 

*/

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

table {
    min-width: 600px;
    min-height: 600px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 100px !important;
    height: 100px !important;
    text-align: center;
}

h1 {
    color: #1890ff;
}

h1, h2, h3 {
    padding: 20px 0;
}

.text-center{
    text-align: center;
}

.csv-uploader-container{
    border: 1px solid #1890ff;
    border-radius: 5px;
    min-height: 150px;
    width: 500px;
}

.csv-uploader-header {
    color: #1890ff;
    text-align: center;
    padding: 24px;
}